/*Primary Color Scheme
Rich Black #080705
Arsenic #40434E
Wine #702632
Smoky Topaz #912F40
Baby Powder #FFFFFA
*/

body {
    background-color: #fffffa;
  }
  
  img {
    width: 50%;
    height: auto;
  }
  .hr-header {
    background-color: #fffffa;
  }
  
  .header-main {
    background-color: #702632;
    color: #fffffa;
    font-family: "Fredoka One", cursive;
  }
  
  .city-div {
    text-align: center;
    color: #40434e;
    font-family: "Fredoka One", cursive;
    padding: 2rem;
    font-size: 3rem;
  }
  
  .left-div {
    position: relative;
    text-align: center;
    vertical-align: text-top;
    color: #40434e;
    font-family: "Fredoka One", cursive;
    min-height: 300px;
    padding: 3rem 3rem 4rem 3rem;
  }
  
  .city-text {
      font-size: 3rem;
    }
  
  .left-font-primary {
    font-size: 9rem;
  }
  
  .left-font-secondary {
    font-size: 2rem;
  }
  
  .right-font-secondary {
    font-size: 2rem;
  }
  
  .table-font {
    font-size: 1.3rem;
  }
  
  
  .right-div {
    color: #40434e;
    font-family: "Fredoka One", cursive;
    min-height: 300px;
    padding: 4rem 4rem 4rem 4rem;
    text-align: center;
  }
  
  .icon-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  